body{background-color:black;}
.I{background-color:black;}
.O{background-color:#fff;}
.a{color:dodgerblue}
.b{color:deeppink}
.c{color:springgreen}
.d{color:tomato}
.e{color:deepskyblue}
.f{color:mediumspringgreen}
.g{color:purple}